@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  scroll-behavior: smooth;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #986dff;
  border-radius: 8px;
}
::-webkit-scrollbar-track {
  background-color: #111;
}
::selection {
  background-color: #986dff;
  color: #fff;
}